.gitignore/
target/
.settings/
.project
.classpath
client/target/
client/.settings/
client/.project
client/.classpath
protocol/target/
protocol/.settings/
protocol/.project
protocol/.classpath
service/target/
service/.settings/
service/.project
service/.classpath
web/target/
web/.settings/
web/.project
web/.classpath